body{
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 275px auto;
    grid-template-rows: 50px auto 20px;
}

button{
    height: 25px;
}
/* ------------------------------------------------- */
header{
    background-color: aqua;
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content:space-between;
}

header h1, header button{
    margin: 12px;
}
/* ------------------------------------------------- */
nav{
    background-color: blueviolet;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

nav .timelinesDiv, nav .categoriesDiv {
  margin: 12px;
}

ul{
    list-style-type: none;    
}
/* ------------------------------------------------- */
.content{
    background-color: brown;
    grid-row: 2/3;
    grid-column: 2/3;
    padding:24px;
}

.titleNsort{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
#title{
    justify-self: baseline;
}

#sortBtn{
    height: 20px;
    width: 60px;
    justify-self: flex-end;
}

#addTaskBtn{
    margin: 12px;
}
/* ------------------------------------------------- */
footer{
    background-color: dimgrey;
    grid-row: 3/4;
    grid-column: 1/3;
}

/* ------------------------------------------------- */
.overlay {
    position: relative;
  }
  
  .overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

/* Media query for viewport width below 750px */
@media (max-width: 750px) {
    nav {
      display: none; /* Hide the nav element */
    }
    .content {
        grid-column: 1/3; /* Extend the content across both columns */
      }
}