body{
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 275px auto;
    grid-template-rows: 50px auto 20px;
    font-size: 1em;
    min-width: 353px;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border-color: rgba(226, 224, 255, 0.3);
}
button{
    background-color:rgb(207, 202, 232);
    height: 28px;
    width: 90px;
    border-radius: 24px;
    padding: 6px;
    border: none;
    text-align: center;
    transition: transform 0.3s; 
}
.timelineBtns:hover, .catBtns:hover{
    transform: scale(1.2); 
}
.symbol, #priority{
    height: 20px;
}
#delete, #deleteCat{
    height: 30px;
}
/* ------------------------------------------------- */
header{
    background-color: rgb(49, 57, 112);
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-width: 353px;
    font-family: 'Montserrat', sans-serif;
}
.titleDiv{
    display: flex;
    align-items: center;
    gap: 30px;
}
header h1{
    margin: 12xpx;
    color: white;
    position: absolute;
    left: 42%;
    transform: translateX(-50%);
    font-weight:300;
}
#collapseBtn{
    height: 30px;
    margin-left: 12px;
}
header button{
    margin: 12px;
}
/* ------------------------------------------------- */
nav{
    background-color: rgb(207, 202, 232);
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    display: block;
    padding: 18px;
}
.categoriesDiv{
    margin-top: 60px;
}
ul{
    list-style-type: none;    
    margin: 0;
    padding: 10px;
}
li{
    margin-bottom: 16px;
    font-weight: 500;
}
.timelineBtns{
    margin: 8px;
    color: white;
    background-color: rgb(101, 99, 115);
}
#newCatBtn{
    margin: 12px;
    margin-left: 2px;
    display: flex;
    gap: 12px;
    font-weight: bolder;
    color: rgb(57, 38, 153);
    cursor: pointer;
}
.catBtns{
    padding: 6px 16px;
    background-color: white;
    width: auto;
    transition: transform 0.3s ease; /* for smooth transition */
}
    
[id="All Inbox"]{background-color: #7b7b7b; color: white;}
[id="Responsibilities"]{background-color: #947741; color: white;}
[id="Events & Social"]{background-color: #b0a529; color: white;}
[id="Programming Course"]{background-color: #458b62; color: white;}
.selectedFilter{
    border: 3px solid;
    border-color: rgb(255, 255, 255);
    /* background-color: rgb(207, 202, 232); */
    transform: scale(1.05)
}

/* ------------------------------------------------- */
.content{
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3; /* Extend the content across both columns */
    /* grid-column: 2/3; */
    padding:24px;
    /* min-width: 353px; */
}
.titleNsort{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.titleNsort-left{
    display: flex;
}
#pageTitle{
    padding: 6px 16px;
    border-radius: 24px;
    margin-right: 12px;
}
#pageTimeline{
    align-self: center;
    font-style: italic;
}
#dateBtn, #importanceBtn{
    color: white;
    background-color: rgb(49, 57, 112);
    height: 23px;
    border-radius: 0;
}

#dateBtn:hover, #importanceBtn:hover{
    background-color: #15a953;
}

#sortHr{
    background-color: white;
    width: 100%;
    margin: 0;
}
#sortBtn{
    justify-self: flex-end;
    /* margin-top: 80px; */
}
.sortMenu{
    display: flex;
    flex-direction: column;
    position: relative; /* Add this for relative positioning */
}
.sortOptions{
    display: none;
    flex-direction: column;
    background-color: rgb(49, 57, 112);
    position: absolute; /* Change to absolute positioning */
    top: 100%; /* Position below the sort button */
    left: 0; /* Align with the left edge of the sort menu */
    width: 100%; /* Make it as wide as the sort menu */
    z-index: 1; /* Ensure it appears above other content */
}
#createTask{
    margin: 12px;
    margin-left: 2px;
    display: flex;
    gap: 12px;
    font-weight: bolder;
    color: rgb(57, 38, 153);
    cursor: pointer;
}
.taskBigDiv{
    display:flex;
    gap: 12px;
}
.taskDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;

}
.taskPrim, .taskSec{
display: flex;
gap: 10px;
align-items: center;
}
.taskCategory{
/* font-style: italic; */
font-size: smaller;
}

input[type="checkbox"] {
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}
input[type="checkbox"]::before{
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 18px;
height: 18px;
background-color: #15a953;
border-radius: 50%;
opacity: 0;
transition: opacity 0.3s ease;
}
input[type="checkbox"]:checked::before{
opacity:1;
}
.complete {
color: #15a953;
text-decoration: line-through;
opacity: .5;
}
/* ------------------------------------------------- */
footer{
    background-color: dimgrey;
    grid-row: 3/4;
    grid-column: 1/3;
}
/* ------------------------------------------------- */
#modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.5); 
}
.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
min-width: 300px;
width: 950px; 
border-radius: 12px;
}

.modal-top, .modal-mid, .modal-bottom{
display: flex;
align-items: center;
width: 95%;
gap: 12px;
margin-top: 10px;
margin-bottom: 10px;
}
.modal-left{
    min-width: 190px;
    margin-right: 5%;
}
#title{
border: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 1em;
width: 260px;
height: 24px;
}
#title.error{
border: 2px solid red;
}
.error-message {
color: red;
font-size: 0.8em;
margin-top: 5px;
}
#category, #priority, #dueDate {
height: 24px;
width: 178px;
padding-left: 2px;
font-family: 'Montserrat', sans-serif;
}
.modal-buttons{
    width:100%
}
textarea {
    width: 100%; 
    border-radius: 8px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    box-sizing: border-box;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
#catModal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5); 
}
.cat-modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 420px;
    border-radius: 12px;
}
.closeCatModal {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,.close:focus,.closeCatModal:hover,.closeCatModal:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
#catForm{
display: flex;
flex-direction: column;
/* padding-left: 8px;
padding-right: 8px;
padding-bottom: 8px;
padding-top: 8px; */
align-items: center;
}
.catTopDiv{
display: flex;
gap:18px;
align-items: center;
}
#catTitle{
border: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 1em;
width: 100%;
}
.catColorDiv{
    display: flex;
    align-items: center;
    gap:12px;
    width: 100%;
}
#catColorLbl{
    color: #686868;
}
#catTitle.error{
    border: 2px solid red;
    }
#colorPicker{
display: none;
}
#colorDisplay{
width: 26px; 
height: 25px; 
border-radius: 50%; 
background-color: #8a59b9;
margin-right: 12px;
}
#deleteCat{
    margin-right: 10px;
}
.catBottomDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.submitBtn{
    color: white;
    background-color: rgb(101, 99, 115);
    margin-right: 12px;
    margin-left: 12px;
}
/* ------------------------------------------------- */
.overlay {
position: relative;
}
.overlay::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
}

/* ------------------------------------------------- */
@media (max-width: 1100px) {
    .modal-content{
        width: 450px;
    }
    .modal-top, .modal-mid{
        flex-direction: column;
        }
        
    .modal-left, .modal-right{
        min-width: 100%;
        margin-right: 0px;
    }
}

@media (max-width: 750px) {
    nav {
    display: none ; /* Hide the nav element */
    }
    .content {
    grid-column: 1/3; /* Extend the content across both columns */
    }
}

@media (max-width: 550px) {
    .modal-content{
        width: 300px;
    }
    .cat-modal-content{
        width: 250px;
    }
    .catTopDiv{
        flex-direction: column;
    }
}
